# -----------------------
# Jekyll / Ruby
# -----------------------
_site/
.sass-cache/
.jekyll-cache/
.bundle/
Gemfile.lock

# -----------------------
# Node / JS
# -----------------------
node_modules/
npm-debug.log
yarn-error.log

# -----------------------
# OS / Editor
# -----------------------
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# -----------------------
# Other cache / temp files
# -----------------------
*.log
.cache/